body {
    background: #fefefd ;
}

p {
    text-align: center;
    font-size: 25px;
}

strong {
    color: #ffbcd9;
}

h1 {
    color: #ffffff;
    font-size: 45px;
    height: 75px;
    border: 10px solid #f5ccdd;
    background-color: #f5ccdd;
    padding-top: 20px;
}

#banner {
    width: 100%;
    height: 550px;
}

#hello {
    color: #bcbcbc;
}

ul {
    font-size: 25px;
    color: #bcbcbc;
    display: inline-block;
    vertical-align: top;
    width: 45%;
    margin-right: 15%;
}

.imgdoce {    
    width: 20%;
    margin-top: -3%;
<<<<<<< HEAD

=======
>>>>>>> b8239b0cab1b46ffd6d2073aa4039f1dae598df4
}

h2 {
    color: #ffffff;
    text-align: center;
    font-size: 35px;
    height: 50px;
    border: 10px solid #f5ccdd;
    background-color: #f5ccdd;
    padding-top: 10px;
}